@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="col-md-6 col-xl-12">
        <h5>Cargar y validar el archivo</h5>
        <form enctype="multipart/form-data" method="post" asp-controller="Purchase" asp-action="ImportExcelFile">
            <dl>
                <dt>
                    <label>Upload Excel:</label>
                </dt>
                <dd>
                    <input type="file" name="FormFile" id="FormFile">

                </dd>
            </dl>
            <input class="btn btn-danger" type="submit" value="Upload" />
        </form>
    </div><br />
    <div class="col-md-6 col-xl-12">
        <h5>Listar los registros validados</h5>
        
    </div>
</div>


<br/>
<div class="">
    <!--Show Message if file is uploaded or not-->
    @ViewBag.Message
</div>